
* {
  font-family: Calibri, Geneva, Helvetica, sans-serif;
}

#columns {
  height: 100vh;
}

#leftBar {
  float: left;
  height: 100%;
  width: 15%;
  background-color:darkslategrey;
}

#contentSection {
  float: right;
  height: 100%;
  width: 85%;
  background-color: midnightblue;
}

h1, h2 {
  color: darkmagenta;
  font-size: xx-large
}

ol {
  color: cyan;
  font-size: larger;
}

ul {
  color: crimson
}

body, html {
  margin:0;
  background-color:darkslategrey;
  height: 100%;
}

header {
  height: 125px;
  width: 100%;
}

footer {
  height: 0vh;
}



/* 
  Additional code utilized for floats pulled from: 
  https://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ 
*/